$white:         #FFFFFF;
$black:         #4A4A4A;
$purple:        #77256D;
$light-purple:  #B137A2;

$color__background:     $white;
$color__text-main:      $black;
$color__link:           $black;
$color__link--active:   $purple;
$color__border:         $black;


$font-family-base: $font-base, $font-family-sans-serif
